While doing development, make sure to reference the [project plan](docs/project_plan.md). Ensure that technical guidelines in the "Technical Constraints" section are followed. Prefer recommended libraries, avoid forbidden libraries.

Consult the [full unbundled GitHub REST API spec](docs/api.github.com/) regarding any API calls.

After making any changes ensure you complete the following steps:
- Run the full suite of automated tests by running `pytest`inside the project's existing virtual environment `.venv`. Fix any issues before proceeding to the next step. 
- Make sure to update the [project plan](docs/project_plan.md) with the changes.
- Make sure to update the "Lessons Learned" section in the [project plan](docs/project_plan.md). For example, if the user has corrected your approach to a problem, make sure to record the necessary details to be able to pick the correct approach in the future.

ALWAYS ACTIVATE THE EXISTING PYTHON VIRTUAL ENVIRONMENT BEFORE RUNNING AUTOMATED TESTS.

Python coding style:
  - Assume Python >= 3.12.
  - In type annotations, avoid types from `typing` where possible, e.g. use `list` instead of typing's `List`.
